@use "global" as *;

.archive-voice{
  margin-top: rem(58);
  @include mq(md) {
  margin-top: rem(150);
  }
}

.archive-voice__button{

}

.archive-voice__cards{
  margin-top: rem(40);
}

.archive-voice__pagenavi{
  margin-top: rem(80);
}

.archive-voice__tab{

}