@use "global" as *;
.top-contact {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
}

.top-contact__design {
  position: relative;
}

.top-contact__design-image {
  position: absolute;
  top: rem(-26);
  right: rem(15);
  width: rem(109);
  @include mq(md){
    top: rem(-40 );
    right: rem(50);
    width: vw(1440,301);
  }
}
