@use "global" as *;

.about {
  padding-bottom: rem(70);
  @include mq(md) {
    padding-bottom: rem(140);
  }
}

.about__bg{
  margin-top: rem(24); 
  @include mq(md) {
    margin-top: rem(40); 
    position: relative;
    padding-top: calc((80 + 581) / (200 + 880) * 100%);
  }
}

.about__image{

  position: relative;
  padding-top: calc((26 + 186) / (64 + 281) * 100%);

  @include mq(md){
    // padding-top: 0;
    padding-top: calc((80 + 581) / (200 + 880) * 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

}

.about__image-right{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: calc(281 / 345 * 100%);
  width: 100%;
  z-index: -2;

  @include mq(md) {
    max-width: rem(880);
    width: calc(880 / 1080 * 100%);
  }
}
.about__image-right img{

}

.about__image-left{
  position: absolute;
  top: 0;
  left: 0;
  max-width: calc(128 / 345 * 100%);
  width: 100%;
  z-index: -1;
  @include mq(md) {

    max-width: rem(400);
    width: calc(400 / 1080 * 100%);
  }
}

.about__body {
  @include mq(md) {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  }
}

.about__sub-title {
  margin-top: rem(40);
  color: $accent-color;
  font-family: $english-font-family;
  font-weight: $normal;
  font-size: rem(40);
  line-height: 1;
  @include mq(md) { 
    margin-top: rem(0);
    color: $white;
    font-size: vw(1440,80);// レスポンシブを考慮し画面サイズによって大きさを変動
    line-height: 1.25; /* 125% */
    width:  vw(1440,400);// レスポンシブを考慮し画面サイズによって大きさを変動
  }
}

.about__contaner{
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(0);
    width:  vw(1440,400); // レスポンシブを考慮し画面サイズによって大きさを変動
    margin-left: rem(20);
  }
}

.about__text {
  line-height: 1.5; /* 150% */
  @include mq(md) {
    color: $white;
  }
}

.about__wrapper {
  margin-top: rem(50);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__button {
}

