@use "global" as *;

.privacypolicy{
  max-width: rem(800);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.privacypolicy__title{
  font-size:rem(24);
  @include mq(md) {
    font-size:rem(32);
    font-weight: 500;
  }

}
.privacypolicy__text{
  line-height: 2; /* 200% */
}
.privacypolicy__text:first-of-type{
  margin-top: rem(40);
}

.privacypolicy__text:not(:first-of-type){
  margin-top: rem(32);

}
.privacypolicy__list{
  margin-top: rem(32);
}

.privacypolicy__list li{
  text-indent: -1em;
  padding-left: 1em;
  line-height: 2; /* 200% */
}
