@use "global" as *;

.price-list {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}

.price-list__title {
  background: $accent-color;
  border: solid 1px $accent-color;
  color: #fff;
  text-align: center;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
  width: 100%;
  padding: rem(8) 0;

  @include mq(md) {
    width: rem(200);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.price-list__title span {
  padding-left: rem(32);
  position: relative;

  @include mq(md) {
    padding-left: 0;
    padding-bottom: rem(72);
  }
}

.price-list__title span::before {
  content: "";
  background-image: url(../../assets/images/common/ocean_sea_icon.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: rem(24);
  height: rem(24);
  position: absolute;
  top: 0;
  left: 0;

  @include mq(md) {
    width: rem(64);
    height: rem(64);
    top: initial;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }
}

.price-list__data {
  display: grid;
  grid-template-columns: calc(240 / 345 * 100%) calc(106 / 345 * 100%);
  grid-auto-rows: 1fr;
  border: solid 1px $accent-color;

  @include mq(md) {
    grid-template-columns: rem(340) rem(160);
  }
}

.price-list__data dt,
.price-list__data dd {
  padding: rem(8) rem(16);
  border-top: solid 1px $accent-color;
  text-align: center;
  box-sizing:border-box;

  @include mq(md) {
    padding: rem(18) rem(16);
  }
}

.price-list__data dt{
  border-right: solid 1px $accent-color;
}

.price-list__data dt:first-of-type,
.price-list__data dd:first-of-type{
  border-top: none;
}