@use "global" as *;

.section-title {
  font-weight: $normal;
}

.section-title__main {
  text-align: center;
  font-family: $english-font-family;
  font-size: rem(32);
  line-height: 1.25;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}
.section-title__main--white{
  color: white;
}
.section-title__main--big {
  font-size: min(vw(375,80),rem(80));
  line-height: 1;
  @include mq(md) {
    font-size: min(vw(1440,80),rem(80));
  }
}

.section-title__acronym {
  color: $accent-color;
  text-transform: uppercase;
}

.section-title__acronym--white{
  color: white;
}

.section-title__sub {
  text-align: center;
  color: $accent-color;
  font-size: rem(12);
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}

.section-title__sub--white{
  color: white;
}