@use "global" as *;

.sidebar-archive {

}

.sidebar-archive__itme{
  color: $accent-color;
}

.sidebar-archive__itme ul {
  list-style: url(../../assets/images/common/Polygon1.svg);
  list-style-position: inside;
}

.sidebar-archive__itme li {
  margin-top: 4px;
  font-size: rem(24);
}

.sidebar-archive__itme li ul {
  text-indent: 1em;
}