@use "global" as *;

.tab {
  display: grid;
  grid-template-columns: rem(162) rem(162);
  gap: rem(21);
  place-content: center;

  @include mq(md) {
    grid-template-columns: rem(162) rem(162) rem(162) rem(162);
    place-content: inherit;
  }
}

.tab__text {
  display: inline-block;
  font-size: rem(14);
  color: $accent-color;
  background-color: $white;
  border: 1px solid $accent-color;
  text-align: center;
  transition: 0.2s;
  line-height: rem(22);

  padding: rem(6) 0;
}

.tab__text.is-active {
  color: $white;
  background-color: $accent-color;
}

.tab__text:hover {
  color: $white;
  background-color: $accent-color;
  border: 1px solid $white;

}