@use "global" as *;

.voice-card {
  padding: rem(24) rem(16);
  color: $font-color;
  background: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  @include mq(md) {
    padding: rem(24);
  }
}

.voice-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.voice-card__wrapper {
  width: 100%;
}

.voice-card__container {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.voice-card__guest {
  font-size: rem(12);
  line-height: 1.5; /* 150% */
}

.voice-card__category {
  color: $accent-color;
  font-size: rem(12);
  display: inline-block;
  border: 1px solid $accent-color;
  padding: rem(4) rem(12);
  line-height: 1.833;
  @include mq(md) {
    padding: rem(6) rem(16);
  }
}

.voice-card__title {
  font-size: rem(16);
  font-weight: 500;
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent-color;

  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(8);
  }
}

.voice-card__image {
  position: relative;
  width: 100%; 
  margin-left: rem(15);
}

.voice-card__image::before {
  content: "";
  display: block;
  padding-top: calc(117 / 151 * 100%); /* 比率を指定 */
  @include mq(md) {
    padding-top: calc(140 / 180  * 100%); /* 比率を指定 */
  }
}

.voice-card__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.voice-card__text {
  margin-top: rem(15);
  line-height: 1.5;
  @include mq(md) { 
    margin-top: rem(40);
  }
}
